name: Docker

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Checkout proton clang
      uses: actions/checkout@main
      with:
        repository: kdrag0n/proton-clang
        path: clang

    - name: Checkout AnyKernel3
      uses: actions/checkout@main
      with:
        repository: theoware/AnyKernel3
        path: AnyKernel3

    - name: Checkout kernel
      uses: actions/checkout@main
      with:
        repository: SuperiorOS-Devices/kernel_motorola_payton
        path: kernel

    - name: Checkout scripts
      uses: actions/checkout@main
      with:
        repository: daoudeddy/Kernel-Actions

    - name: Setup env
      run: sudo apt-get install device-tree-compiler bc cpio ccache zip gcc

    - name: Run a script
      run: |
        #!/bin/bash

        # Clone Repo
        echo
        echo "Cloning Android Kernel Tools repo"
        echo
        git clone --depth=1 https://github.com/kdrag0n/proton-clang.git clang

        echo
        echo "AnyKernel3 Repo"
        echo
        git clone --depth=1 https://github.com/theoware/AnyKernel3.git

        echo
        echo "Cloning Kernel Repo"
        echo
        git clone --depth=1 https://github.com/DhineshCool/cybertron.git kernel

        echo
        echo "Setting up env"
        echo

        sudo apt-get install device-tree-compiler bc cpio ccache zip

        mkdir -p out
        export ZIPNAME=cybertron.zip
        export ARCH=arm64
        export SUBARCH=arm64
        export CLANG_PATH=/home/runner/work/Kernel-Actions/Kernel-Actions/clang/bin
        PATH=/usr/lib/ccache:${PATH}
        export PATH=${CLANG_PATH}:${PATH}
        export CLANG_TRIPLE=aarch64-linux-gnu-
        export CROSS_COMPILE=$CLANG_PATH/aarch64-linux-gnu-
        export CROSS_COMPILE_ARM32=$CLANG_PATH/arm-linux-gnueabi-

        echo
        echo "Moving to kernel dir"
        echo

        cp surya-docker_defconfig kernel/arch/arm64/configs/

        cd kernel
        echo $PWD

        echo
        echo "Clean Build Directory"
        echo 

        make clean && make mrproper

        echo
        echo "Issue Build Commands"
        echo

        mkdir -p out

        echo
        echo "Set DEFCONFIG"
        echo 
        make CC=clang O=out surya-docker_defconfig

        echo
        echo "Build The Good Stuff"
        echo 

        make -j$(nproc) O=out CC="ccache clang" AR=llvm-ar NM=llvm-nm OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump STRIP=llvm-strip Image.gz-dtb

        cd ..

        ls kernel/out/arch/arm64/boot/

        cp kernel/out/arch/arm64/boot/Image.gz-dtb ./AnyKernel3

        cp anykernel.patch ./AnyKernel3

        cd AnyKernel3

        zip "../$ZIPNAME" * -x '*.git*' README.md *placeholder
    - uses: actions/upload-artifact@main
      with:
        name: kernel
        path: | 
          ./kernel/out/arch/arm64/boot/
