name: Cybertron

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout kernel
      uses: actions/checkout@main
      with:
        repository: theoware/cybertron

    - name: Setup env
      run: sudo apt-get install device-tree-compiler bc cpio zip gcc make

    - uses: actions/setup-java@main
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Run a script
      run: |
        #! /bin/bash
        # shellcheck disable=SC2154

         # Script For Building Android arm64 Kernel
         #
         # Copyright (c) 2018-2021 Panchajanya1999 <rsk52959@gmail.com>
         #
         # Licensed under the Apache License, Version 2.0 (the "License");
         # you may not use this file except in compliance with the License.
         # You may obtain a copy of the License at
         #
         #      http://www.apache.org/licenses/LICENSE-2.0
         #
         # Unless required by applicable law or agreed to in writing, software
         # distributed under the License is distributed on an "AS IS" BASIS,
         # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
         # See the License for the specific language governing permissions and
         # limitations under the License.
         #

        #Kernel building script

        # Bail out if script fails
        set -e

        ##------------------------------------------------------##
        ##----------Basic Informations, COMPULSORY--------------##

        # The defult directory where the kernel should be placed
        KERNEL_DIR="$(pwd)"
        BASEDIR="$(basename "$KERNEL_DIR")"
        TOKEN=${{ secrets.TOKEN }}
        CHATID=${{ secrets.CHAT_ID}}
        AUTHOR=theoware
        ARCH=arm64
        DEFCONFIG=cybertron_payton_defconfig
        FILES=Image.gz-dtb
        DEVICE="payton"
        MODEL="Motorola X4"
        LOG_DEBUG=0

        # shellcheck source=/etc/os-release
        DISTRO=$(source /etc/os-release && echo "${NAME}")
        KBUILD_BUILD_HOST=$(uname -a | awk '{print $2}')
        CI_BRANCH=$(git rev-parse --abbrev-ref HEAD)
        TERM=xterm
        export KBUILD_BUILD_HOST CI_BRANCH TERM

        #Check Kernel Version
        KERVER=$(make kernelversion)


        # Set a commit head
        COMMIT_HEAD=$(git log --oneline -1)

        # Set Date 
        DATE=$(TZ=Europe/Berlin date +"%Y%m%d-%T")

        #Now Its time for other stuffs like cloning, exporting, etc

         clone() {
          echo " "

          if [[ ! -d clang-llvm  ]]
          then
            git clone --depth=1 https://github.com/kdrag0n/proton-clang.git clang-llvm
            TC_DIR=$KERNEL_DIR/clang-llvm
          else
            TC_DIR=$KERNEL_DIR/clang-llvm
          fi

          if [[ ! -d AnyKernel3  ]]
          then
            git clone --depth 1 --no-single-branch https://github.com/theoware/AnyKernel3.git
          fi

          if [[ ! -d arm-linux-androideabi-4.9 ]] && [[ ! -d aarch64-linux-android-4.9 ]]
          then
            git clone --depth 1 --no-single-branch https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9.git
            git clone --depth 1 --no-single-branch https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9.git
            cd arm-linux-androideabi-4.9
            git reset --hard 4d16d93f49c2b5ecdd0f12c38d194835dd595603
            cd ..
            cd aarch64-linux-android-4.9
            git reset --hard 0a0604336d4d1067aa1aaef8d3779b31fcee841d
            cd ..
          fi
        }

        exports() {
          KBUILD_BUILD_USER=$AUTHOR
          SUBARCH=$ARCH

          KBUILD_COMPILER_STRING=$("$TC_DIR"/bin/clang --version | head -n 1 | perl -pe 's/\(http.*?\)//gs' | sed -e 's/  */ /g' -e 's/[[:space:]]*$//')
          PATH="${KERNEL_DIR}/clang-llvm/bin:${KERNEL_DIR}/aarch64-linux-android-4.9/bin:${KERNEL_DIR}/arm-linux-androideabi-4.9/bin:$TC_DIR/bin/:$TC_DIR/aarch64-linux-gnu/bin/:$PATH"

          BOT_MSG_URL="https://api.telegram.org/bot$TOKEN/sendMessage"
          BOT_BUILD_URL="https://api.telegram.org/bot$TOKEN/sendDocument"

          SERVER_URL="https://github.com/${{ GITHUB.REPOSITORY }}/actions/runs/${{ GITHUB.RUN_ID }}"

          export KBUILD_BUILD_USER ARCH SUBARCH PATH \
            KBUILD_COMPILER_STRING BOT_MSG_URL \
            BOT_BUILD_URL SERVER_URL \
            CROSS_COMPILE_ARM32 CROSS_COMPILE 
        }

        ##---------------------------------------------------------##

        tg_post_msg() {
          curl -s -X POST "$BOT_MSG_URL" -d chat_id="$CHATID" \
          -d "disable_web_page_preview=true" \
          -d "parse_mode=html" \
          -d text="$1"

        }

        ##----------------------------------------------------------------##

        tg_post_build() {
          #Post MD5Checksum alongwith for easeness
          MD5CHECK=$(md5sum "$1" | cut -d' ' -f1)

          #Show the Checksum alongwith caption
          curl --progress-bar -F document=@"$1" "$BOT_BUILD_URL" \
          -F chat_id="$CHATID"  \
          -F "disable_web_page_preview=true" \
          -F "parse_mode=Markdown" \
          -F caption="$2 | *MD5 Checksum : *\`$MD5CHECK\`"
        }

        ##----------------------------------------------------------##

        build_kernel() {

          make clean && make mrproper && rm -rf out

          tg_post_msg "<b>$KBUILD_BUILD_VERSION CI Build Triggered</b>%0A<b>Host: </b><code>$DISTRO</code>%0A<b>Kernel Version : </b><code>$KERVER</code>%0A<b>Date : </b><code>$(TZ=Europe/Berlin date)</code>%0A<b>Device : </b><code>$MODEL [$DEVICE]</code>%0A<b>Pipeline Host : </b><code>$KBUILD_BUILD_HOST</code>%0A<b>Host Core Count : </b><code>$(nproc --all)</code>%0A<b>Compiler Used : </b><code>$KBUILD_COMPILER_STRING</code>%0a<b>Branch : </b><code>$CI_BRANCH</code>%0A<b>Top Commit : </b><code>$COMMIT_HEAD</code>%0A<a href='$SERVER_URL'>Link</a>"

          CROSS_COMPILE="aarch64-linux-android-"
          CROSS_COMPILE_ARM32="arm-linux-androideabi-"
          export CROSS_COMPILE CROSS_COMPILE_ARM32

          make O=out $DEFCONFIG

          BUILD_START=$(date +"%s")

          make -j$(nproc --all) O=out \
                    ARCH=arm64 \
                    CC=clang \
          CLANG_TRIPLE=aarch64-linux-gnu- \
          CROSS_COMPILE=aarch64-linux-android-

            "${MAKE[@]}" 2>&1 | tee error.log

            BUILD_END=$(date +"%s")
            DIFF=$((BUILD_END - BUILD_START))

            if [ -f "$KERNEL_DIR"/out/arch/arm64/boot/$FILES ]
            then
                gen_zip
            else
                tg_post_build "error.log" "*Build failed to compile after $((DIFF / 60)) minute(s) and $((DIFF % 60)) seconds*"
            fi

        }

        gen_zip() {
          mv "$KERNEL_DIR"/out/arch/arm64/boot/$FILES AnyKernel3/$FILES
          cdir AnyKernel3
          zip -r $ZIPNAME-$DEVICE-"$DATE" . -x ".git*" -x "README.md" -x "*.zip"

          ## Prepare a final zip variable
          ZIP_FINAL="$ZIPNAME-$DEVICE-$DATE"

          ## Sign the zip before sending it to telegram
          tg_post_msg "<code>Signing Zip file with AOSP keys..</code>"
          curl -sLo zipsigner-3.0.jar https://github.com/Magisk-Modules-Repo/zipsigner/raw/master/bin/zipsigner-3.0-dexed.jar
          java -jar zipsigner-3.0.jar "$ZIP_FINAL".zip "$ZIP_FINAL"-signed.zip
          ZIP_FINAL="$ZIP_FINAL-signed"

          tg_post_build "$ZIP_FINAL.zip" "Build took : $((DIFF / 60)) minute(s) and $((DIFF % 60)) second(s)"
          cd ..
        }

        clone
        exports
        build_kernel

        if [ $LOG_DEBUG = "1" ]
        then
          tg_post_build "error.log" "$CHATID" "Debug Mode Logs"
        fi
    - uses: actions/upload-artifact@main
      with:
        name: kernel
        path: | 
          ./kernel/out/arch/arm64/
