name: Cybertron

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Checkout proton clang
      uses: actions/checkout@main
      with:
        repository: kdrag0n/proton-clang
        path: clang

    - name: Checkout AnyKernel3
      uses: actions/checkout@main
      with:
        repository: theoware/AnyKernel3
        path: AnyKernel3

    - name: Checkout kernel
      uses: actions/checkout@main
      with:
        repository: SuperiorOS-Devices/kernel_motorola_payton
        path: kernel

    - name: Setup env
      run: sudo apt-get install device-tree-compiler bc cpio ccache zip gcc

    - name: Run a script
      run: |
        mkdir -p out
        export ZIPNAME=cybertron.zip
        export ARCH=arm64
        export SUBARCH=arm64
        export CLANG_PATH=${{ github.workspace}}/clang/bin
        export PATH=/usr/lib/ccache:${PATH}
        export PATH=${CLANG_PATH}:${PATH}
        export CLANG_TRIPLE=aarch64-linux-gnu-
        export CROSS_COMPILE=$CLANG_PATH/aarch64-linux-gnu-
        export CROSS_COMPILE_ARM32=$CLANG_PATH/arm-linux-gnueabi-

        ls -R /home/runner/work/test/test/clang/bin/

        cd kernel
        echo $PWD

        echo
        echo "Clean Build Directory"
        echo 

        make clean && make mrproper

        echo
        echo "Issue Build Commands"
        echo

        mkdir -p out

        echo
        echo "Set DEFCONFIG"
        echo 
        make cybertron_payton_defconfig CC=clang O=out 

        echo
        echo "Build The Good Stuff"
        echo 

        make -j$(nproc) O=out CC="ccache clang" AR=llvm-ar NM=llvm-nm OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump STRIP=llvm-strip Image.gz-dtb

        cd ..

        ls kernel/out/arch/arm64/boot/

        cp kernel/out/arch/arm64/boot/Image.gz-dtb ./AnyKernel3

        cp anykernel.patch ./AnyKernel3

        cd AnyKernel3

        zip "../$ZIPNAME" * -x '*.git*' README.md *placeholder
    - uses: actions/upload-artifact@main
      with:
        name: kernel
        path: | 
          ./kernel/out/arch/arm64/boot/
