name: Docker

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Mark as executable
      run: |
        wget https://github.com/theoware/Kernel-Actions/raw/main/build.sh
        chmod +x build.sh 

    - name: Run a one-line script
      run: sh ./build.sh
    - uses: actions/upload-artifact@main
      with:
        name: kernel
        path: | 
          ./kernel/out/arch/arm64/boot/
