name: kernel2

on:
  push:
    paths: .github/workflows/kernel2.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Install Mozilla Build
      run: |
        choco install mozillabuild

    - run: |
        Get-ChildItem -Recurse D:/
        Get-ChildItem -Recurse C:/*ozilla*
