name: kernel2

on:
  push:
    paths: .github/workflows/kernel2.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Install Mozilla Build
      run: |
        Invoke-WebRequest -Uri https://ftp.mozilla.org/pub/mozilla/libraries/win32/MozillaBuildSetup-Latest.exe -OutFile MozillaBuildSetup-Latest.exe 
        Start-Process "MozillaBuildSetup-Latest.exe"

    - run: Get-ChildItem -Recurse .
