name: Molly

on:
  push:
    paths: .github/workflows/molly.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache

    steps:

    - name: Download Latest Release Zip
      id: dl
      uses: creesch/github-latest-release-zip@v0.1.1
      with:
        owner: mollyim
        repo: mollyim-android
        downloadPath: ../

    - name: Extract source code
      working-directory: ../
      run: |
        unzip -q "${{ steps.dl.outputs.filename }}"
        rm -f "${{ steps.dl.outputs.filename }}"
        mv "$( echo "${{ steps.dl.outputs.filename }}" | rev | cut -c5- | rev)/" ${{ GITHUB.WORKSPACE }}

    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk-headless ccache
        sudo update-alternatives --auto java

    - name: Cache ccache
      id: ccache-cache
      uses: actions/cache@main
      with:
        path: ${{ github.workspace }}/.ccache
        key: ccache-${{ github.sha }}
        restore-keys: ccache-

    - name: Setup ccache
      run: |
        sudo /usr/sbin/update-ccache-symlinks
        echo 'export PATH="/usr/lib/ccache:$PATH"' | tee -a ~/.bashrc
        echo 'export CCACHE_EXEC=/usr/bin/ccache' | tee -a ~/.bashrc
        echo 'export USE_CCACHE=1' | tee -a ~/.bashrc
        source ~/.bashrc

    - name: Build Molly
      run: ./gradlew -Pci --no-daemon :app:assembleProdNonFreeRelease :app:assembleProdFreeRelease

    - name: Check the apk
      env:
        VERSION: ${{ steps.dl.outputs.tag }}
      run: |
        wget -q https://github.com/mollyim/mollyim-android/releases/download/$VERSION/Molly-$VERSION-FOSS.apk
        wget -q https://github.com/mollyim/mollyim-android/releases/download/$VERSION/Molly-$VERSION.apk
        python apkdiff/apkdiff.py Molly-$VERSION-FOSS.apk app/build/outputs/apks/prodFree/release/Molly-prod-unsigned-$VERSION-FOSS.apk        
        python apkdiff/apkdiff.py Molly-$VERSION.apk app/build/outputs/apks/prodNonFree/release/Molly-prod-unsigned-$VERSION.apk

    - name: Download release repo
      uses: actions/checkout@main
      with:
        path: rel

    - name: Create a release draft
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      working-directory: rel
      run: gh release create -d -t "$GITHUB_WORKFLOW on $(date "+%A, %d of %B of %Y")" $(date "+%y.%m.%d.%H.%M.%S") $(find ../app/build/outputs/apk -name *.apk -type f)

    - run: ls -R .
      if: always()

    - run: ccache -s

    - name: Upload unsigned APKs
      uses: actions/upload-artifact@main
      with:
        name: outputs
        path: |
          app/build/outputs/apk
