name: Telegram

on:
  push:
    paths: .github/workflows/telegram.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NDK: [r21e, r22b]

    steps:

    - name: Download Telegram-FOSS's source code
      uses: actions/checkout@main
      with:
        # Repository name with owner. For example, actions/checkout
        repository: Telegram-FOSS-Team/Telegram-FOSS
        # Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules.
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk-headless ninja-build golang-go yasm
        sudo update-alternatives --auto java

    - name: Install the android NDK
      uses: nttld/setup-ndk@main
      id: setup-ndk
      with:
        ndk-version: ${{ matrix.NDK }}
        add-to-path: true

    - name: Remove a file
      run: rm -f TMessagesProj/jni/ffmpeg/tests/ref/fate/sub-microdvd-remux

    - name: Add API keys
      run: echo -e 'APP_ID = 12834\nAPP_HASH = c84d9229db1d6be95c067b02b126352c' > API_KEYS

    - name: Delete binaries
      working-directory: TMessagesProj/jni
      run: find . -type f -executable

    - name: Build libvpx with clang
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: |
        ./build_libvpx_clang.sh

    - name: Build FFmpeg with clang
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./build_ffmpeg_clang.sh

    - name: Patch FFmpeg
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_ffmpeg.sh

    - name: Patch BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_boringssl.sh

    - name: Build BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./build_boringssl.sh

    - name: Build Telegram-FOSS
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./gradlew assembleAfatRelease
