name: Telegram

on:
  push:
    paths: .github/workflows/telegram.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NDK_CCACHE: ${{ github.workspace }}/ccache
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      ANDROID_HOME: ${{ github.workspace }}/ndk
      NDK: ${{ github.workspace }}/ndk/ndk/21.4.7075529
      ANDROID_SDK_ROOT: ${{ github.workspace }}/ndk
    strategy:
      fail-fast: false
      matrix:
        gradlew: [assembleRelease, assembleAfat, assembleAfatRelease]

    steps:

    - name: Download Telegram-FOSS's source code
      uses: actions/checkout@main
      with:
        repository: Telegram-FOSS-Team/Telegram-FOSS
        submodules: recurse

    - name: Get hashes
      working-directory: TMessagesProj/jni
      id: hash
      run: |
        pushd boringssl
        echo "::set-output name=boringssl::$(git rev-parse HEAD)"
        popd
        pushd ffmpeg
        echo "::set-output name=ffmpeg::$(git rev-parse HEAD)"
        popd
        pushd libvpx
        echo "::set-output name=libvpx::$(git rev-parse HEAD)"
        popd

    - name: Download Telegram-FOSS's source code
      uses: actions/checkout@main
      with:
        repository: Telegram-FOSS-Team/Telegram-FOSS

    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk-headless ninja-build golang-go yasm ccache
        sudo update-alternatives --auto java
        ln -s $(which ccache) ./ccache
        wget https://github.com/patrickfav/uber-apk-signer/releases/download/v1.2.1/uber-apk-signer-1.2.1.jar -O uber-apk-signer.jar

    - name: Cache ccache
      id: ccache-cache
      uses: actions/cache@main
      with:
        path: ${{ github.workspace }}/.ccache
        key: ccache-${{ github.sha }}
        restore-keys: ccache-

    - name: Install the android NDK
      run: |
        wget https://dl.google.com/android/repository/commandlinetools-linux-8092744_latest.zip -O clt.zip
        unzip clt.zip -d clt/
        yes | clt/cmdline-tools/bin/sdkmanager "ndk;21.4.7075529" "patcher;v4" --sdk_root="$ANDROID_HOME"
        yes | clt/cmdline-tools/bin/sdkmanager --licenses --sdk_root="$ANDROID_HOME"

    - name: Remove a file
      run: rm -f TMessagesProj/jni/ffmpeg/tests/ref/fate/sub-microdvd-remux

    - name: Add API keys
      run: echo -e 'APP_ID = 12834\nAPP_HASH = c84d9229db1d6be95c067b02b126352c' > API_KEYS

    - name: Setup ccache
      run: |
        sudo /usr/sbin/update-ccache-symlinks
        echo 'export PATH="/usr/lib/ccache:$PATH"' | tee -a ~/.bashrc
        echo 'export CCACHE_EXEC=/usr/bin/ccache' | tee -a ~/.bashrc
        echo 'export USE_CCACHE=1' | tee -a ~/.bashrc
        source ~/.bashrc

    - name: Cache boringSSL
      id: boringssl-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/boringssl/build/
        key: boringssl-${{ steps.hash.outputs.boringssl }}

    - name: Cache FFmpeg
      id: ffmpeg-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/ffmpeg/build/
        key: boringssl-${{ steps.hash.outputs.ffmpeg }}

    - name: Cache libvpx
      id: libvpx-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/libvpx/build/
          !TMessagesProj/jni/libvpx/build/make
        key: libvpx-${{ steps.hash.outputs.libvpx }}

    - name: Init submodules if cache didn't hit
      if: steps.libvpx-cache.outputs.cache-hit != 'true' && steps.ffmpeg-cache.outputs.cache-hit != 'true' && steps.boringssl-cache.outputs.cache-hit != 'true'
      run: git submodule update --init --recursive --rebase --force

    - name: Build libvpx with clang
      if: steps.libvpx-cache.outputs.cache-hit != 'true'
      working-directory: TMessagesProj/jni
      run: ./build_libvpx_clang.sh

    - name: Build FFmpeg with clang
      if: steps.ffmpeg-cache.outputs.cache-hit != 'true'
      working-directory: TMessagesProj/jni
      run: ./build_ffmpeg_clang.sh

    - name: Patch FFmpeg
      if: steps.ffmpeg-cache.outputs.cache-hit != 'true'
      working-directory: TMessagesProj/jni
      run: ./patch_ffmpeg.sh

    - name: Patch BoringSSL
      working-directory: TMessagesProj/jni
      run: ./patch_boringssl.sh

    - name: Build BoringSSL
      if: steps.boringssl-cache.outputs.cache-hit != 'true'
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./build_boringssl.sh

    - name: Delete no longer needed folders
      if: steps.libvpx-cache.outputs.cache-hit != 'true' && steps.ffmpeg-cache.outputs.cache-hit != 'true' && steps.boringssl-cache.outputs.cache-hit != 'true'
      working-directory: TMessagesProj/jni/
      run: |
        mv boringssl/build build/
        rm -rf boringssl/
        mkdir boringssl/
        mv build/ boringssl/build/
        mv ffmpeg/build build/
        rm -rf ffmpeg/
        mkdir ffmpeg/
        mv build/ ffmpeg/build/
        mv libvpx/build build/
        rm -rf libvpx/
        mkdir libvpx
        mv build/ libvpx/build/

    - name: Build Telegram-FOSS
      run: |
        ./gradlew --no-daemon ${{ matrix.gradlew }}

    - name: Sign the APKs
      run: |
        echo "${{ secrets.TELEGRAM_KEYSTORE }}" | base64 -d > keystore.jks
        java -jar uber-apk-signer.jar --apks TMessagesProj/build/outputs/apk/*/* --ks keystore.jks --ksAlias ${{ secrets.TELEGRAM_KEYSTORE_ALIAS }} --ksKeyPass ${{ secrets.TELEGRAM_KEYSTORE_PASSWORD }} --ksPass ${{ secrets.TELEGRAM_KEYSTORE_PASSWORD }} -o signed/

    - name: Remove Keystore
      if: always()
      run: rm -f keystore.jks

    - run: ccache -s
      if: always()

    - run: ls -R .
      if: always()

    - name: Upload unsigned APKs
      uses: actions/upload-artifact@main
      with:
        name: outputs-${{ matrix.gradlew }}
        path: |
          TMessagesProj/build/outputs/apk

    - name: Upload signed APKs
      uses: actions/upload-artifact@main
      with:
        name: signed-${{ matrix.gradlew }}
        path: |
          signed/
