name: Telegram

on:
  push:
    paths: .github/workflows/telegram.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NDK_CCACHE: ${{ github.workspace }}/ccache
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      ANDROID_HOME: ${{ github.workspace }}/ndk
      NDK: ${{ github.workspace }}/ndk/ndk/21.4.7075529
      ANDROID_SDK_ROOT: ${{ github.workspace }}/ndk

    steps:

    - name: Download Telegram-FOSS's source code
      uses: actions/checkout@main
      with:
        repository: Telegram-FOSS-Team/Telegram-FOSS
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk-headless ninja-build golang-go yasm ccache
        sudo update-alternatives --auto java
        ln -s $(which ccache) ./ccache
        wget https://github.com/patrickfav/uber-apk-signer/releases/download/v1.2.1/uber-apk-signer-1.2.1.jar -O uber-apk-signer.jar

    - name: Get hashes
      working-directory: TMessagesProj/jni
      id: hash
      run: |
        pushd boringssl
        echo "::set-output name=boringssl::$(git rev-parse HEAD)"
        popd
        pushd ffmpeg
        echo "::set-output name=ffmpeg::$(git rev-parse HEAD)"
        popd
        pushd libvpx
        echo "::set-output name=libvpx::$(git rev-parse HEAD)"
        popd

    - name: Cache ccache
      id: ccache-cache
      uses: actions/cache@main
      with:
        path: ${{ github.workspace }}/.ccache
        key: ccache-${{ github.sha }}
        restore-keys: ccache-

    - name: Install the android NDK
      run: |
        wget https://dl.google.com/android/repository/commandlinetools-linux-8092744_latest.zip -O clt.zip
        unzip clt.zip -d clt/
        yes | clt/cmdline-tools/bin/sdkmanager "ndk;21.4.7075529" "patcher;v4" --sdk_root="$ANDROID_HOME"
        yes | clt/cmdline-tools/bin/sdkmanager --licenses --sdk_root="$ANDROID_HOME"

    - name: Remove a file
      run: rm -f TMessagesProj/jni/ffmpeg/tests/ref/fate/sub-microdvd-remux

    - name: Add API keys
      run: echo -e 'APP_ID = 12834\nAPP_HASH = c84d9229db1d6be95c067b02b126352c' > API_KEYS

    - name: Setup ccache
      run: |
        sudo /usr/sbin/update-ccache-symlinks
        echo 'export PATH="/usr/lib/ccache:$PATH"' | tee -a ~/.bashrc
        source ~/.bashrc

    - name: Cache boringSSL
      id: boringssl-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/libvpx/build/
          !TMessagesProj/jni/libvpx/build/make
        key: boringssl-${{ steps.hash.outputs.boringssl }}

    - name: Cache FFmpeg
      id: ffmpeg-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/ffmpeg/build/
        key: boringssl-${{ steps.hash.outputs.ffmpeg }}

    - name: Cache libvpx
      id: libvpx-cache
      uses: actions/cache@main
      with:
        path: |
          TMessagesProj/jni/libvpx/build/
          !TMessagesProj/jni/libvpx/build/make
        key: libvpx-${{ steps.hash.outputs.libvpx }}

    - name: Build libvpx with clang
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./build_libvpx_clang.sh

    - name: Build FFmpeg with clang
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./build_ffmpeg_clang.sh

    - name: Patch FFmpeg
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_ffmpeg.sh

    - name: Patch BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_boringssl.sh

    - name: Build BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NINJA_PATH: /usr/bin/ninja
      run: ./build_boringssl.sh

    - name: Remove Keystore
      if: always()
      run: rm -f keystore.jks

    - run: ls -R .
      if: always()

    - name: Upload unsigned APKs
      uses: actions/upload-artifact@main
      with:
        name: outputs
        path: |
          TMessagesProj/build/outputs/

    - name: Upload signed APKs
      uses: actions/upload-artifact@main
      with:
        name: signed
        path: |
          signed/
