name: Telegram

on:
  push:
    paths: .github/workflows/telegram.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NDK_CCACHE: ${{ github.workspace }}/ccache
      CCACHE_DIR: ${{ github.workspace }}/.ccache

    steps:

    - name: Download Telegram-FOSS's source code
      uses: actions/checkout@main
      with:
        # Repository name with owner. For example, actions/checkout
        repository: Telegram-FOSS-Team/Telegram-FOSS
        # Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules.
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk-headless ninja-build golang-go yasm ccache
        sudo update-alternatives --auto java
        ln -s $(which ccache) ./ccache

    - name: Cache ccache
      id: ccache-cache
      uses: actions/cache@main
      with:
        path: ${{ github.workspace }}/.ccache
        key: ccache-${{ github.sha }}
        restore-keys: ccache-

    - name: Install the android NDK
      uses: nttld/setup-ndk@main
      id: setup-ndk
      with:
        ndk-version: r21e
        add-to-path: true

    - name: Remove a file
      run: rm -f TMessagesProj/jni/ffmpeg/tests/ref/fate/sub-microdvd-remux

    - name: Add API keys
      run: echo -e 'APP_ID = 12834\nAPP_HASH = c84d9229db1d6be95c067b02b126352c' > API_KEYS

    - name: Delete binaries
      working-directory: TMessagesProj/jni
      run: find . -type f -executable

    - name: Build libvpx with clang
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: |
        ./build_libvpx_clang.sh

    - name: Build FFmpeg with clang
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./build_ffmpeg_clang.sh

    - name: Patch FFmpeg
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_ffmpeg.sh

    - name: Patch BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./patch_boringssl.sh

    - name: Build BoringSSL
      working-directory: TMessagesProj/jni
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: ./build_boringssl.sh

    - name: Build Telegram-FOSS
      env:
        NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        ANDROID_SDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
        NINJA_PATH: /usr/bin/ninja
      run: |
        ccache -zp
        ./gradlew x64 --no-daemon

    - run: ls -R .

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@main
      with:
        # Artifact name
        name: outputs
        # A file, directory or wildcard pattern that describes what to upload
        path: build/outputs/
