name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - run: gh release list --repo mollyim/mollyim-android --limit 1 | select tag
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
