name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - run: |
        dir /s "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"
        C:\ProgramData\Chocolatey\bin\vswhere.exe -latest -products * -property installationPath -requires Microsoft.VisualStudio.Workload.NativeDesktop -requires  Microsoft.VisualStudio.Component.Windows10SDK.19041 -requires  Microsoft.VisualStudio.Component.VC.ATL.Spectre
      shell: cmd

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y

    - name: Checkout
      uses: actions/checkout@v3.0.0
      with:
        repository: theoware/Firefox

    - name: Run in MozillaBuild
      uses: dothq/mozillabuild-shell-action@1f3c7a98e3e32c336d720e38dd592406397db1f7
      with:
        run: mach build

    - run: gci * -Recurse
      if: always()
