name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - run: gci "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\**\*.exe"

    - run: C:\ProgramData\Chocolatey\bin\vswhere.exe -latest -products * -property installationPath -requires Microsoft.VisualStudio.Workload.NativeDesktop -requires  Microsoft.VisualStudio.Component.Windows10SDK.19041 -requires  Microsoft.VisualStudio.Component.VC.ATL.Spectre
      shell: cmd

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y

    - name: Checkout
      uses: actions/checkout@v3.0.0
      with:
        repository: theoware/Firefox

    - name: Run mach build
      run: ./mach build

    - name: Run mach run
      run: ./mach run

    - run: gci * -Recurse
      if: always()
