name: Test

on:
  workflow_dispatch:
    inputs:
      build:
        required: true
      lang:
        required: true
        default: de-de
      edition:
        required: true
        default: PROFESSIONAL

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@main

      - name: Install dependencies
        run: |
          sudo apt-get install aria2 cabextract wimtools chntpw genisoimage
          wget https://raw.githubusercontent.com/uup-dump/converter/master/convert.sh

      - name: Retrieve aria2 script
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -o"aria2_script.txt" --allow-overwrite=true --auto-file-renaming=false "https://uupdump.net/get.php?id=${{ github.event.inputs.build }}&pack=${{ github.event.inputs.lang }}&edition=${{ github.event.inputs.edition }}&aria2=2"

      - name: Download files
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -x16 -s16 -j5 -c -R -d"." -i"aria2_script.txt"

      - name: Convert
        run: |
          chmod +x ./convert.sh
          ./convert.sh wim "." 0

      - name: Get file name
        id: iso
        run: |
          echo "::set-output name=name::$(find * -name *.ISO -type f)"

      - name: Split files
        run: |
          split --bytes=2147483647 --numeric-suffixes $(find * -name *.ISO -type f) $(find * -name *.ISO -type f)
          rm $(find * -name *.ISO -type f)

      - name: Create release
        id: create-release
        uses: actions/create-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: windows-iso
          release_name: windows-iso
          draft: true

      - name: Upload ISO
        id: upl
        run: |
          if [ -f ${{ steps.iso.outputs.name }}a ]; 
          then
          echo "::set-output name=01::true"
          fi
          if [ -f ${{ steps.iso.outputs.name }}b ]; 
          then
          echo "::set-output name=02::true"
          fi
          if [ -f ${{ steps.iso.outputs.name }}c ]; 
          then
          echo "::set-output name=03::true"
          fi
          if [ -f ${{ steps.iso.outputs.name }}d ]; 
          then
          echo "::set-output name=04::true"
          fi

      - name: Upload ISO Part 1
        if: ${{ steps.upl.outputs.a }} == true
        uses: actions/upload-release-asset@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ${{ steps.iso.outputs.name }}01
          asset_name: ${{ steps.iso.outputs.name }}01
          asset_content_type: application/zip

      - name: Upload ISO Part 2
        if: ${{ steps.upl.outputs.b }} == true
        uses: actions/upload-release-asset@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ${{ steps.iso.outputs.name }}02
          asset_name: ${{ steps.iso.outputs.name }}02
          asset_content_type: application/zip

      - name: Upload ISO Part 3
        if: ${{ steps.upl.outputs.c }} == true
        uses: actions/upload-release-asset@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ${{ steps.iso.outputs.name }}03
          asset_name: ${{ steps.iso.outputs.name }}03
          asset_content_type: application/zip

      - name: Upload ISO Part 4
        if: ${{ steps.upl.outputs.d }} == true
        uses: actions/upload-release-asset@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ${{ steps.iso.outputs.name }}04
          asset_name: ${{ steps.iso.outputs.name }}04
          asset_content_type: application/zip
