name: WALE Build

on:
  push:
    paths: .github/workflows/testo.yml

jobs:
  build:
    name: build-windows
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
          repository: catright/Wale
          
    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@master
      
    - name: NuGet Restore
      run: |
        cd WindowAudioLoudnessEqualizer
        nuget restore Wale.sln
      
    - name: Build
      run: |
        cd WindowAudioLoudnessEqualizer
        msbuild "-property:Configuration=Release" -t:Wale
        
    - name: Upload artifacts
      uses: actions/upload-artifact@main
      with:
        name: wale-artifacts
        path: |
          .\WindowAudioLoudnessEqualizer\bin\Release\
