name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Install dependencies
      run: |
        Import-Module Appx
        Invoke-Webrequest -Uri https://github.com/microsoft/winget-cli/releases/download/v1.2.10271/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe.msixbundle
        Add-AppxPackage Microsoft.DesktopAppInstaller_8wekyb3d8bbwe.msixbundle
        winget install Microsoft.VC++2015-2022Redist-x86
        winget install Microsoft.VC++2015-2022Redist-x64
        choco install mozilla-build
        Invoke-Webrequest -Uri https://download.visualstudio.microsoft.com/download/pr/928b2d78-4b74-4601-9c82-334cdbb1b3b4/ce4ff79bed538d9fde90f4ac1020ea59e02538ef7e10af3b97b687b89e8662a3/vs_BuildTools.exe
        ./vs_BuildTools.exe --includeRecommended --includeOptional --add Microsoft.VisualStudio.Workload.NativeDesktop
        ./vs_BuildTools.exe --includeRecommended --includeOptional --add Microsoft.VisualStudio.Component.Windows11SDK.22000

    - name: Download source code
      run: |
        mkdir mozilla-unified/
        Invoke-Webrequest -Uri https://archive.mozilla.org/pub/firefox/releases/97.0/source/firefox-97.0.source.tar.xz
        tar -Jxf firefox-97.0.source.tar.xz -C mozilla-unified/

    - name: Add .mozconfig options
      run: |
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "ac_add_options --enable-official-branding" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-debug-symbols" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-crashreporter" >> mozilla-unified/.mozconfig
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "unset MOZ_TELEMETRY_REPORTING" >> mozilla-unified/.mozconfig

    - name: Mount the Windows SDK iso
      run: |
        mkdir windowssdk
        wget https://software-download.microsoft.com/download/sg/22000.194.210911-1543.co_release_svc_prod1_WindowsSDK.iso -O sdk.iso
        sudo mount sdk.iso windowssdk

    - name: Compile
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: |
        cmd -c "C:/mozilla-build/start-shell.bat -here"
        ./mach.ps1 configure
        ./mach.ps1 build
        ./mach.ps1 package

    - name: Debug
      if: always()
      run: Get-ChildItem -Recurse .

    - name: Debug
      if: always()
      run: Get-ChildItem "C:/"
