name: testo

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main

    - name: Setup env
      run: sudo apt-get install qemu-system-arm

    - name: Run a script
      run: |
        qemu-system-aarch64 -M versatilepb -kernel ./zImage -dtb ./Image.gz-dtb -nographic -append "ignore_loglevel log_buf_len=10M print_fatal_signals=1 LOGLEVEL=8 earlyprintk=vga,keep sched_debug"
