name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Install dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt-get update
        sudo apt-get dist-upgrade
        sudo apt upgrade
        sudo apt-get install libwine:i386 openssl libcairo-gobject2:i386 libgdk-pixbuf2.0-0:i386 libshout3:i386 libsoup2.4-1:i386 libtag1v5:i386 gstreamer1.0-plugins-base:i386 libselinux1 libgssapi-krb5-2 libavcodec58:i386 fontconfig-config libglib2.0-0 libgd3 libxml2 libxslt1.1 libfontconfig1:i386 libgphoto2-6:i386 libxml2:i386 libgssapi-krb5-2 libmount1 libselinux1 login libcairo2:i386 libgdk-pixbuf2.0-0:i386 debconf libpcre2-8-0:i386 libfaudio0:i386 libglib2.0-0:i386 libgstreamer-plugins-base1.0-0:i386 libgstreamer1.0-0:i386 libodbc1:i386 gstreamer1.0-plugins-good:i386 libmount1:i386 libselinux1:i386
        sudo apt-get install -f
        sudo apt install -y --install-recommends wine wine32 wine64 winetricks mercurial mingw-w64 git-core wget quilt
        sudo apt-get build-dep firefox

    - name: Download source code
      run: |
        mkdir mozilla-unified/
        wget https://archive.mozilla.org/pub/firefox/releases/97.0/source/firefox-97.0.source.tar.xz
        tar -Jxf firefox-97.0.source.tar.xz -C mozilla-unified/

    - name: Add .mozconfig options
      run: |
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "ac_add_options --enable-official-branding" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-debug-symbols" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-crashreporter" >> mozilla-unified/.mozconfig
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "unset MOZ_TELEMETRY_REPORTING" >> mozilla-unified/.mozconfig

    - name: Install Microsoft Visual C++
      run: winetricks vcrun2015

    - name: Create VFat file system
      run: |
        sudo dd if=/dev/zero of=vfat.img bs=500M count=1000
        sudo mkfs -t vfat vfat.img
        sudo mkdir /mnt/vfat/
        sudo mount -t auto -o loop vfat.img /mnt/vfat/
        df -hT

    - name: Mount the Windows SDK iso
      run: |
        mkdir windowssdk
        wget https://software-download.microsoft.com/download/sg/22000.194.210911-1543.co_release_svc_prod1_WindowsSDK.iso -O sdk.iso
        sudo mount sdk.iso windowssdk

    - name: Compile
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: |
        ./mach configure
        ./mach build
        ./mach package

    - name: Debug
      if: always()
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: ls -R .
