name: Test

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main

    - name: Run a script
      run: |
        git clone https://github.com/theoware/cybertron/ cyber
        cd cyber
        git remote add EL https://github.com/kdrag0n/proton_zf6
        git fetch EL 
        git cherry-pick 6e87fec9a3df5a05dea34ab0a8647ee1ffcd1a6f
        git cherry-pick https://github.com/kdrag0n/proton_zf6/commit/68acd6966ac98
