name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022

    defaults:
      run:
        shell: cmd
        working-directory: ${{ github.workspace }}

    env:
      GYP_MSVS_OVERRIDE_PATH: 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\'
      GYP_MSVS_VERSION: 2022
      X8664: x64
      SPECIAL_TARGET: win64
      WIN32X64: x64

    steps:
      - name: Prepare directories
        run: |
          mkdir TBuild\Libraries
          mkdir TBuild\Libraries64
          echo TBUILD=TBuild>>%GITHUB_ENV%
          echo LIBS_DIR=TBuild\Libraries64>>%GITHUB_ENV%

      - name: Get repository name
        shell: bash
        run: |
          REPO=kotatogram/kotatogram-desktop
          echo "REPO_NAME=${REPO##*/}" >> $GITHUB_ENV

      - name: Native Tools Command Prompt
        uses: ilammy/msvc-dev-cmd@d8610e2b41c6d0f0c3b4c46dad8df0fd826c68e1

      - name: Clone
        uses: actions/checkout@d50f8ea76748df49594d9b109b614f3b4db63c71
        with:
          submodules: recursive
          path: ${{ env.TBUILD }}\${{ env.REPO_NAME }}
          repository: kotatogram/kotatogram-desktop

      - name: Choco dependencies
        run: |
          choco install --no-progress -y nasm strawberryperl yasm jom ninja wget
          py -m pip install pywin32

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          location: C:\msys64

      - name: Install msys64
        run: |
          mkdir %TBUILD%\ThirdParty
          mklink /d %TBUILD%\ThirdParty\msys64\ C:\msys64\

      - name: Update pacman
        continue-on-error: true
        shell: msys2 {0}
        run: |
          pacman --noconfirm -S gyp ninja cmake make

      - name: Set up environment paths
        shell: bash
        run: |
          echo "C:\\Strawberry\\perl\\bin\\" >> $GITHUB_PATH
          echo "C:\\Program Files\\NASM\\" >> $GITHUB_PATH
          echo "C:\\ProgramData\\chocolatey\\lib\\ninja\\tools\\" >> $GITHUB_PATH

          echo "Configurate git for cherry-picks."
          git config --global user.email "you@example.com"
          git config --global user.name "Sample"

      - name: NuGet sources
        run: |
          nuget sources Disable -Name "Microsoft Visual Studio Offline Packages"
          nuget sources Add -Source https://api.nuget.org/v3/index.json & exit 0

      - name: Libraries cache
        id: cache-libs
        uses: actions/cache@2d8d0d1c9b41812b6fd3d4ae064360e7d8762c7b
        with:
          path: |
            ${{ env.TBUILD }}/Libraries*/**/*out*/*
            ${{ env.TBUILD }}/Libraries*/**/*.lib
            ${{ env.TBUILD }}/Libraries*/**/*debug*/*
            ${{ env.TBUILD }}/Libraries*/**/*release*/*
          key: ${{ runner.OS }}-libs

      - name: Checkout patches
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/patches
          ref: 47d447b53170c444cbbd04f929fb680c9fbd1970
          path: ${{ env.LIBS_DIR }}/patches
          clean: false

      - name: Checkout gyp
        uses: actions/checkout@v3.0.0
        with:
          repository: chromium/gyp
          path: ${{ env.LIBS_DIR }}/gyp
          clean: false
          ref: d6c5dd51dc3a60bf4ff32a5256713690a1a10376

      - name: Checkout lzma
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/lzma
          path: ${{ env.LIBS_DIR }}/lzma
          clean: false

      - name: Build lzma
        working-directory: ${{ env.LIBS_DIR }}/lzma/C/Util/LzmaLib
        run: msbuild LzmaLib.sln /property:Configuration=Debug /property:Platform="%X8664%"

      - name: Checkout zlib
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/zlib
          path: ${{ env.LIBS_DIR }}/zlib
          clean: false

      - name: Build zlib
        working-directory: ${{ env.LIBS_DIR }}/zlib/contrib/vstudio/vc14
        run: msbuild zlibstat.vcxproj /property:Configuration=Debug /property:Platform="%X8664%"

      - name: Checkout mozjpeg
        uses: actions/checkout@v3.0.0
        with:
          repository: mozilla/mozjpeg
          path: ${{ env.LIBS_DIR }}/mozjpeg
          clean: false

      - name: Build mozjpeg
        working-directory: ${{ env.LIBS_DIR }}/mozjpeg
        run: |
          cmake . -A %WIN32X64% -DWITH_JPEG8=ON -DPNG_SUPPORTED=OFF
          cmake --build . --config Debug

      - name: Checkout openssl
        uses: actions/checkout@v3.0.0
        with:
          repository: openssl/openssl
          path: ${{ env.LIBS_DIR }}/openssl
          clean: false

      - name: Build openssl
        working-directory: ${{ env.LIBS_DIR }}/openssl
        run: |
          perl Configure no-shared no-tests debug-VC-WIN64A
          nmake
          mkdir out.dbg
          move libcrypto.lib out.dbg
          move libssl.lib out.dbg
          move ossl_static.pdb out.dbg
          perl Configure no-shared no-tests VC-WIN64A
          nmake
          mkdir out
          move libcrypto.lib out
          move libssl.lib out
          move ossl_static.pdb out

      - name: Checkout opus
        uses: actions/checkout@v3.0.0
        with:
          repository: xiph/opus
          path: ${{ env.LIBS_DIR }}/opus
          clean: false
          ref: 927de8453c502586c03e25c169ec08f2a93ebc02

      - name: Build opus
        working-directory: ${{ env.LIBS_DIR }}/opus
        run: |
          msys2 -c "cmake -B out . -A %WIN32X64% -DCMAKE_INSTALL_PREFIX=%LIBS_DIR%/local -DCMAKE_C_FLAGS_DEBUG="/MTd /Zi /Ob0 /Od /RTC1" -DCMAKE_C_FLAGS_RELEASE="/MT /O2 /Ob2 /DNDEBUG""
          msys2 -c "cmake --build out --config Debug"
          msys2 -c "cmake --build out --config Release"
          msys2 -c "cmake --install out --config Release"

      - name: Checkout rnnoise
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/rnnoise
          path: ${{ env.LIBS_DIR }}/rnnoise
          clean: false

      - name: Build rnnoise
        working-directory: ${{ env.LIBS_DIR }}/rnnoise
        run: |
          mkdir out
          cd out
          msys2 -c "cmake -A %WIN32X64% .."
          msys2 -c "cmake --build . --config Debug"

      - name: Checkout libvpx
        uses: actions/checkout@v3.0.0
        with:
          repository: webmproject/libvpx
          path: ${{ env.LIBS_DIR }}/libvpx
          clean: false
          ref: v1.11.0

      - name: Build libvpx
        working-directory: ${{ env.LIBS_DIR }}/libvpx
        run: |
          for /r %%i in (..\patches\libvpx\*) do git apply %%i
          SET PATH_BACKUP_=%PATH%
          SET PATH=%ROOT_DIR%\ThirdParty\msys64\usr\bin;%PATH%
          SET CHERE_INVOKING=enabled_from_arguments
          SET MSYS2_PATH_TYPE=inherit
          SET TARGET=x86_64-win64-vs17
          msys2 -c "../patches/build_libvpx_win.sh"
          SET PATH=%PATH_BACKUP_%

      - name: Checkout ffmpeg
        uses: actions/checkout@v3.0.0
        with:
          repository: FFmpeg/FFmpeg
          path: ${{ env.LIBS_DIR }}/ffmpeg
          clean: false
          ref: cc33e73618a981de7fd96385ecb34719de031f16

      - name: Build ffmpeg
        working-directory: ${{ env.LIBS_DIR }}/ffmpeg
        run: |
          SET PATH_BACKUP_=%PATH%
          SET PATH=%ROOT_DIR%\ThirdParty\msys64\usr\bin;%PATH%
          SET CHERE_INVOKING=enabled_from_arguments
          SET MSYS2_PATH_TYPE=inherit
          msys2 -c "pacman -Sy libopus-dev"
          msys2 -c "../patches/build_ffmpeg_win.sh"
          SET PATH=%PATH_BACKUP_%

      - name: Checkout openal-soft
        uses: actions/checkout@v3.0.0
        with:
          repository: telegramdesktop/openal-soft
          path: ${{ env.LIBS_DIR }}/openal-soft
          clean: false
          ref: wasapi_exact_device_time

      - name: Build openal-soft
        working-directory: ${{ env.LIBS_DIR }}/openal-soft/build
        run: |
          msys2 -c "cmake .. -A %WIN32X64% -D LIBTYPE:STRING=STATIC -D FORCE_STATIC_VCRT=ON"
          msbuild OpenAL.vcxproj /property:Configuration=Debug /property:Platform="%WIN32X64%"

      - name: Checkout breakpad
        uses: actions/checkout@v3.0.0
        with:
          repository: google/breakpad
          path: ${{ env.LIBS_DIR }}/breakpad/
          clean: false
          ref: dfcb7b6799b7c1e2c8d65e857d8afede185471d8

      - name: Checkout breakpad
        working-directory: ${{ env.LIBS_DIR }}/breakpad
        run: git apply ../patches/breakpad.diff

      - name: Checkout googletest
        uses: actions/checkout@v3.0.0
        with:
          repository: google/googletest
          path: ${{ env.LIBS_DIR }}/breakpad/src/testing
          clean: false
          ref: release-1.11.0

      - name: Build breakpad
        working-directory: ${{ env.LIBS_DIR }}/breakpad
        run: |
          SET FolderPostfix=_x64
          cd src\client\windows
          msys2 -c "gyp --no-circular-check breakpad_client.gyp --format=ninja"
          cd ..\..
          msys2 -c "ninja -C out/Debug%FolderPostfix% common crash_generation_client exception_handler"

      - name: Checkout tg_angle
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/tg_angle
          path: ${{ env.LIBS_DIR }}/tg_angle
          clean: false
          ref: 0bb011f9e4037c64a987a6be54f50f24c677765b

      - name: Build tg_angle
        working-directory: ${{ env.LIBS_DIR }}/tg_angle
        run: |
          mkdir out
          cd out
          mkdir Debug
          cd Debug
          msys2 -c "cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DTG_ANGLE_SPECIAL_TARGET=%SPECIAL_TARGET% -DTG_ANGLE_ZLIB_INCLUDE_PATH=%LIBS_DIR%/zlib ../.."
          msys2 -c "ninja"

      - name: Checkout qt_5_15_2
        uses: actions/checkout@v3.0.0
        with:
          repository: qt/qt5
          path: ${{ env.LIBS_DIR }}/qt_5_15_2
          clean: false
          ref: v5.15.2

      - name: Checkout qt_5_15_2
        working-directory: ${{ env.LIBS_DIR }}/qt_5_15_2
        run: |
          git submodule update qtbase qtimageformats qtsvg

      - name: Build qt_5_15_2
        working-directory: ${{ env.LIBS_DIR }}/tg_angle
        run: |
          cd qtbase
          for /r %%i in (..\..\patches\qtbase_5_15_2\*) do git apply %%i
          cd ..
          SET CONFIGURATIONS=-debug
          SET ANGLE_DIR=%LIBS_DIR%\tg_angle
          SET ANGLE_LIBS_DIR=%ANGLE_DIR%\out
          SET MOZJPEG_DIR=%LIBS_DIR%\mozjpeg
          SET OPENSSL_DIR=%LIBS_DIR%\openssl
          SET OPENSSL_LIBS_DIR=%OPENSSL_DIR%\out
          SET ZLIB_LIBS_DIR=%LIBS_DIR%\zlib\contrib\vstudio\vc14\%X8664%
          configure -prefix "%LIBS_DIR%\Qt-5.15.2" %CONFIGURATIONS% -force-debug-info -opensource -confirm-license -static -static-runtime -opengl es2 -no-angle -I "%ANGLE_DIR%\include" -D "KHRONOS_STATIC=" -D "DESKTOP_APP_QT_STATIC_ANGLE=" QMAKE_LIBS_OPENGL_ES2_DEBUG="%ANGLE_LIBS_DIR%\Debug\tg_angle.lib %ZLIB_LIBS_DIR%\ZlibStatDebug\zlibstat.lib d3d9.lib dxgi.lib dxguid.lib" QMAKE_LIBS_OPENGL_ES2_RELEASE="%ANGLE_LIBS_DIR%\Release\tg_angle.lib %ZLIB_LIBS_DIR%\ZlibStatReleaseWithoutAsm\zlibstat.lib d3d9.lib dxgi.lib dxguid.lib" -egl QMAKE_LIBS_EGL_DEBUG="%ANGLE_LIBS_DIR%\Debug\tg_angle.lib %ZLIB_LIBS_DIR%\ZlibStatDebug\zlibstat.lib d3d9.lib dxgi.lib dxguid.lib Gdi32.lib User32.lib" QMAKE_LIBS_EGL_RELEASE="%ANGLE_LIBS_DIR%\Release\tg_angle.lib %ZLIB_LIBS_DIR%\ZlibStatReleaseWithoutAsm\zlibstat.lib d3d9.lib dxgi.lib dxguid.lib Gdi32.lib User32.lib" -openssl-linked -I "%OPENSSL_DIR%\include" OPENSSL_LIBS_DEBUG="%OPENSSL_LIBS_DIR%.dbg\libssl.lib %OPENSSL_LIBS_DIR%.dbg\libcrypto.lib Ws2_32.lib Gdi32.lib Advapi32.lib Crypt32.lib User32.lib"  OPENSSL_LIBS_RELEASE="%OPENSSL_LIBS_DIR%\libssl.lib %OPENSSL_LIBS_DIR%\libcrypto.lib Ws2_32.lib Gdi32.lib Advapi32.lib Crypt32.lib User32.lib" -I "%MOZJPEG_DIR%" LIBJPEG_LIBS_DEBUG="%MOZJPEG_DIR%\Debug\jpeg-static.lib" LIBJPEG_LIBS_RELEASE="%MOZJPEG_DIR%\Release\jpeg-static.lib" -mp -nomake examples -nomake tests -platform win32-msvc
          jom -j16
          jom -j16 install

      - name: Checkout tg_owt
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/tg_owt
          path: ${{ env.LIBS_DIR }}/tg_owt
          clean: false
          ref: 8d9c724c073134527837985d659a7baefce5e859

      - name: Checkout tg_owt
        working-directory: ${{ env.LIBS_DIR }}/tg_owt
        run: |
          git submodule init
          git submodule update src/third_party/libyuv

      - name: Build tg_owt
        working-directory: ${{ env.LIBS_DIR }}/tg_owt
        run: |
          SET MOZJPEG_PATH=%LIBS_DIR%/mozjpeg
          SET OPUS_PATH=%USED_PREFIX%/include/opus
          SET OPENSSL_PATH=%LIBS_DIR%/openssl/include
          SET LIBVPX_PATH=%USED_PREFIX%/include
          SET FFMPEG_PATH=%LIBS_DIR%/ffmpeg
          mkdir out
          cd out
          mkdir Debug
          cd Debug
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DTG_OWT_BUILD_AUDIO_BACKENDS=OFF -DTG_OWT_SPECIAL_TARGET=%SPECIAL_TARGET% -DTG_OWT_LIBJPEG_INCLUDE_PATH=%MOZJPEG_PATH% -DTG_OWT_OPENSSL_INCLUDE_PATH=%OPENSSL_PATH% -DTG_OWT_OPUS_INCLUDE_PATH=%OPUS_PATH% -DTG_OWT_LIBVPX_INCLUDE_PATH=%LIBVPX_PATH% -DTG_OWT_FFMPEG_INCLUDE_PATH=%FFMPEG_PATH% ../..
          ninja          

      - name: Read defines
        shell: msys2 {0}
        run: |
          DEFINE=""
          if [ -n "${{ matrix.defines }}" ]; then
            DEFINE="-D ${{ matrix.defines }}=ON"
            echo Define from matrix: $DEFINE
            echo "ARTIFACT_NAME=Kotatogram_${{ matrix.defines }}" >> $GITHUB_ENV
          else
            echo "ARTIFACT_NAME=Kotatogram" >> $GITHUB_ENV
          fi
          echo "TDESKTOP_BUILD_DEFINE=$DEFINE" >> $GITHUB_ENV

      - name: Free up some disk space
        run: |
          cd %TBUILD%
          del /S Libraries\*.pdb
          del /S Libraries\*.pch
          del /S Libraries\*.obj
          del /S Libraries64\*.pdb
          del /S Libraries64\*.pch
          del /S Libraries64\*.obj

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          name: Libaries64
          path: |
            ${{ env.TBUILD }}/Libraries*/**/*out*/*
            ${{ env.TBUILD }}/Libraries*/**/*.lib
            ${{ env.TBUILD }}/Libraries*/**/*debug*/*
            ${{ env.TBUILD }}/Libraries*/**/*release*/*
          if-no-files-found: error

      - name: Free up some disk space
        run: |
          cd %TBUILD%
          del /q /S Libraries64\*

      - name: Download a Build Artifact
        uses: actions/download-artifact@v3.0.0
        with:
          name: Libaries64

      - name: Kotatogram Desktop build
        run: |
          cd %TBUILD%\%REPO_NAME%\Telegram
          call configure.bat ^
          x64 ^
          -D TDESKTOP_API_TEST=ON ^
          -D DESKTOP_APP_USE_PACKAGED=OFF ^
          -D DESKTOP_APP_DISABLE_CRASH_REPORTS=OFF ^
          -D DESKTOP_APP_NO_PDB=ON ^
          %TDESKTOP_BUILD_DEFINE% ^
          -DCMAKE_SYSTEM_VERSION=%SDK%
          cd ..\out64
          msbuild -m Telegram.sln /p:Configuration=Debug,Platform=x64,DebugSymbols=false,DebugType=none

      - name: Move artifact
        run: |
          mkdir artifact
          move %TBUILD%\%REPO_NAME%\out\Debug\Kotatogram.exe artifact/

      - name: Upload artifact
        uses: actions/upload-artifact@6673cd052c4cd6fcf4b4e6e60ea986c889389535
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: artifact\

      - run: dir /s
        if: always()
