name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@main
        with:
          repository: patrickfav/uber-apk-signer

      - run: ./mvnw clean install



