name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: |
          sudo apt-get install curl python3 python3-dev python3-pip mercurial
          curl https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -O

      - name: Bootstrap a copy of the Firefox source code
        shell: python
        run: |
          bootstrap.py

      - name: Build
        working-directory: mozilla-unified
        run: |
          ./mach build
          ./mach run

      - run: ls -R .
        working-directory: mozilla-unified
