name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:

    - name: Cache Primes
      id: cache-primes
      uses: actions/cache@main
      with:
        path: test/
        key: ${{ runner.os }}-primes

    - name: No cache
      if: steps.cache-primes.outputs.cache-hit != 'true'
      run: echo "no cache found"

    - name: Cache
      if: steps.cache-primes.outputs.cache-hit == 'true'
      run: echo "cache found" && cat test/test

    - name: New
      run: echo 1234 > test/test
