name: testo

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main
      with:
        repository: llvm/llvm-project
        fetch-depth: 0

    - name: Set ref
      run: git checkout $(git for-each-ref refs/tags --format='%(refname)' --sort=-taggerdate | grep llvmorg-13.... | cut -c11- | head -n 1)

    - name: Run a script
      run: |
        ls -R .
        git describe --tags --abbrev=0
