name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3.0.2
      with:
        repository: aerotoad/Thud

    - name: Prerequisites
      continue-on-error: true
      run: |
        npm install -g @ionic/cli
        npm install -g @angular/cli
        npm install -g @angular-devkit/build-angular
        npm install -g @angular-devkit/build-angular:browser

    - name: Build project and sync with capacitor platforms
      continue-on-error: true
      run: ionic cap sync

    - name: Build
      run: ionic build --prod

    - run: ls -R .
      if: always()
