name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    env:
      MOZBUILD_STATE_PATH: C:\Users\runneradmin/.mozbuild
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y

    - name: Bootstrap a copy of the Firefox source code
      run: |
        Invoke-WebRequest -Uri https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -OutFile bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: Run mach build
      run: ./mach build --disable-bootstrap

    - name: Run mach run
      run: ./mach run --disable-bootstrap

    - run: gci * -Recurse
      if: always()
