name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - run: gh release list --repo mollyim/mollyim-android --limit 1 | tr -s ' ' | cut -d't' -f5,3 | rev | cut -c21- | rev | xargs
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
