name: Test

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main

    - name: Run a script
      run: |
        bash testscript.sh 
