name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@d50f8ea76748df49594d9b109b614f3b4db63c71
      with:
        repository: "andrew-paglinawan/QuicksandFamily"

    - run: sudo apt install fontmake python gftools ttx

    - name: Create variable directory in fonts
      run: mkdir -p fonts fonts/statics

    - name: Make Quicksand-VF.ttf
      env:
        VF_PATH: fonts/Quicksand[wght].ttf
      run: |
        fontmake -o variable -g Quicksand.glyphs --output-path $VF_PATH
        rm -rf master_ufo/ instance_ufo/

    - name: Post processing
      env:
        VF_PATH: fonts/Quicksand[wght].ttf
      run: |
        python -c "from fontTools.ttLib import TTFont;f=TTFont('$VF_PATH');f['OS/2'].usWeightClass=300;f.save('$VF_PATH')"
        gftools fix-nonhinting $VF_PATH $VF_PATH
        gftools fix-dsig --autofix $VF_PATH
        # drop MVAR table.
        ttx -x 'MVAR' $VF_PATH
        ttx -f 'fonts/Quicksand[wght].ttx'
        rm fonts/*.ttx fonts/*gasp.ttf

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@6673cd052c4cd6fcf4b4e6e60ea986c889389535
      with:
        path: "*"
