name: Test

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Run a script
      run: |
        wget -q https://github.com/llvm/llvm-project/releases/download/llvmorg-13.0.0/clang+llvm-13.0.0-aarch64-linux-gnu.tar.xz -O aarch64-linux-gnu.tar.xz
        mkdir aarch64-linux-gnu/
        tar -xf aarch64-linux-gnu.tar.xz -C aarch64-linux-gnu/
        wget -q https://github.com/llvm/llvm-project/releases/download/llvmorg-13.0.0/clang+llvm-13.0.0-armv7a-linux-gnueabihf.tar.xz -O arm-linux-gnueabi.tar.xz
        mkdir arm-linux-gnueabi/
        tar -xf arm-linux-gnueabi .tar.xz -C arm-linux-gnueabi/
        ls -R .
