name: Test

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Run a script
      run: |
        wget -q https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/master/clang-r437112/bin.tar.gz -O clang.tar.gz
        mkdir clang/
        tar -xzf clang.tar.gz -C clang
        ls -R .
