name: Testo

on:
  push:
    paths: .github/workflows/testo.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
      with:
          repository: Lymphatus/caesium-image-compressor
          
    - name: Install dependencies
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
        sudo apt install cargo qt5-default

    - name: configure CMake
      run: cmake -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --config Release --target caesium_image_compressor

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        path: out
