name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install wine wine64 winetricks mercurial

    - name: Cache
      id: cache-source
      uses: actions/cache@main
      with:
        path: mozilla-unified
        key: mozilla-unified-${{ GITHUB.SHA }}
        restore-keys: mozilla-unified

    - name: Update cached source code
      if: steps.cache-source.outputs.cache-hit == 'true'
      run: hg pull

    - name: Bootstrap a copy of the Firefox source code
      continue-on-error: true
      if: steps.cache-source.outputs.cache-hit != 'true'
      run: |
        wget https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: bootstrap
      working-directory: mozilla-unified/
      run: ./mach --no-interactive bootstrap

    - name: Add .mozconfig options
      run: echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig

    - name: Install Microsoft Visual C++
      run: winetricks vcrun2015

    - name: Create VFat file system
      run: |
        sudo dd if=/dev/zero of=vfat.img bs=500M count=1000
        sudo mkfs -t vfat vfat.img
        sudo mkdir /mnt/vfat/
        sudo mount -t auto -o loop vfat.img /mnt/vfat/
        df -hT

    - name: Mount the Windows SDK iso
      run: |
        mkdir windowssdk
        wget https://software-download.microsoft.com/download/sg/22000.194.210911-1543.co_release_svc_prod1_WindowsSDK.iso -O sdk.iso
        sudo mount sdk.iso windowssdk

    - name: Debug
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: ls -R .
