name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  binutils:
    name: binutils
    runs-on: ubuntu-latest

    steps:

    - name: Checkout proton clang build
      uses: actions/checkout@main
      with:
        repository: kdrag0n/proton-clang-build

    - name: Install dependends
      run: |
        sudo apt install bc \
            binutils-dev \
            bison \
            ca-certificates \
            ccache \
            clang \
            cmake \
            curl \
            file \
            flex \
            gcc \
            g++ \
            git \
            libelf-dev \
            libssl-dev \
            make \
            ninja-build \
            python3 \
            texinfo \
            u-boot-tools \
            xz-utils \
            zlib1g-dev

    - name: Run a script
      run: |
        CC=clang CFLAGS= CXX=clang++ CXXFLAGS= ./build-llvm.py

    - name: Debug
      run: |
        ls -R .
