name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - continue-on-error: true
      run: echo ${{ github.event_name }}

    - run: echo {{ github.event.name }}
