name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Run a script
      run: |
        git clone https://android.googlesource.com/toolchain/binutils
        git clone https://android.googlesource.com/platform/bionic
        git clone https://android.googlesource.com/toolchain/gcc/
        export TARGET=aarch64-linux-android
        export PREFIX=/usr/local/$TARGET
        mkdir build && cd build
        ../binutils/configure --target=$TARGET --prefix=$PREFIX --enable-werror=no
        make -j$(nproc --all) && sudo make install
    
    - name: Debug
      run: |
        ls -R .

    - name: Debug build
      run: |
        ls -R build/
