name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Install VC redists
      run: |
        Invoke-Webrequest -Uri https://download.visualstudio.microsoft.com/download/pr/8e32d7eb-5130-4dc8-9c3e-5891f375e112/B7AE307237F869E09F7413691A2CD1944357B5CEE28049C0A0D3430B47BB3EDC/VC_redist.x86.exe -OutFile VC_redist.x86.exe
        Invoke-Webrequest -Uri https://download.visualstudio.microsoft.com/download/pr/d22ecb93-6eab-4ce1-89f3-97a816c55f04/37ED59A66699C0E5A7EBEEF7352D7C1C2ED5EDE7212950A1B0A8EE289AF4A95B/VC_redist.x64.exe -OutFile VC_redist.x64.exe
        Start-Process -NoNewWindow -FilePath "VC_redist.x86.exe" -ArgumentList '/quiet /install /norestart' -Wait
        Start-Process -NoNewWindow -FilePath "VC_redist.x64.exe" -ArgumentList '/quiet /install /norestart' -Wait

    - name: Install Visual Studio
      run: |
        Invoke-Webrequest -Uri https://download.visualstudio.microsoft.com/download/pr/928b2d78-4b74-4601-9c82-334cdbb1b3b4/ce4ff79bed538d9fde90f4ac1020ea59e02538ef7e10af3b97b687b89e8662a3/vs_BuildTools.exe -OutFile vs_BuildTools.exe
        Start-Process -NoNewWindow -FilePath "vs_BuildTools.exe" -ArgumentList '--quiet --wait --norestart --nocache --installPath C:\BuildTools --add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended --add Microsoft.VisualStudio.Component.Windows11SDK.22000 --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.VC.ATLMFC --add Microsoft.VisualStudio.Component.VC.CMake.Project --add Microsoft.VisualStudio.Component.VC.Llvm.ClangToolset' -Wait

    - name: Register DIA dll
      run: |
        regsvr32 /S "C:\BuildTools\DIA SDK\bin\amd64\msdia140.dll"
        regsvr32 /S "C:\BuildTools\DIA SDK\bin\msdia140.dll"

    - name: Install dependencies
      run: |
        choco feature disable --name showDownloadProgress
        choco install -y --pre mozillabuild archiver ninja cmake msys2-installer
        pip install psutil
        Get-ChildItem -Recurse "C:\Program Files\LLVM\"
        Copy-Item "C:\Program Files\LLVM\bin\llvm-ar.exe" "C:\Program Files\LLVM\bin\llvm-dlltool.exe"

    - name: Download source code
      run: |
        mkdir mozilla-unified/
        Invoke-Webrequest -Uri https://archive.mozilla.org/pub/firefox/releases/97.0/source/firefox-97.0.source.tar.xz -OutFile firefox-97.0.source.tar.xz
        arc unarchive firefox-97.0.source.tar.xz

    - name: Add .mozconfig options
      working-directory: firefox-97\firefox-97.0
      run: |
        echo "ac_add_options --target=x86_64-pc-mingw32" >> .mozconfig
        echo "ac_add_options --enable-official-branding" >> .mozconfig
        echo "ac_add_options --disable-debug-symbols" >> .mozconfig
        echo "ac_add_options --disable-crashreporter" >> .mozconfig
        echo "ac_add_options --target=x86_64-pc-mingw32" >> .mozconfig
        echo "unset MOZ_TELEMETRY_REPORTING" >> .mozconfig

    - name: Compile
      working-directory: firefox-97\firefox-97.0
      run: |
        cmd -c "C:/mozilla-build/start-shell.bat -here"
        ./mach.ps1 configure
        ./mach.ps1 build
        ./mach.ps1 package

    - name: Debug
      if: always()
      run: Get-ChildItem -r ${{ GITHUB.WORKSPACE }}

    - name: Debug
      if: always()
      run: Get-ChildItem "C:/"
