name: testo

on:
  push:
    paths: .github/workflows/testo.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Download source code
      run: |
        sudo snap remove $(snap list | awk '!/^Name|^core|^bare|^snapd/ {print $1}')
        sudo snap remove $(snap list | awk '/^bare/ {print $1}')
        sudo snap remove $(snap list | awk '/^core/ {print $1}')
        sudo snap remove $(snap list | awk '/^snapd/ {print $1}')

        for I in $(df -h | awk '/snap/ {print $6}')
        do
            sudo umount $I
        done

        echo "UGFja2FnZTogc25hcGQKUGluOiByZWxlYXNlIGE9KgpQaW4tUHJpb3JpdHk6IC0xMAo=" | base64 -d > nosnap.pref

        sudo cp nosnap.pref /etc/apt/preferences.d/nosnap.pref

        rm nosnap.pref

        sudo apt-get purge snapd
        rm -rf ~/snap
        sudo rm -rf /snap
        sudo rm -rf /var/snap
        sudo rm -rf /var/lib/snapd

        cat << EOF
        ┌─────────────────────────────────────────────────────────────────────┐
        │All Done! This script has succesfully completed, please reboot so    │
        │that changes take effect.                                            │
        └─────────────────────────────────────────────────────────────────────┘
        (╯°□°）╯︵ ┴─┴ 
        EOF
        echo
