name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Roboto
      uses: actions/checkout@v3.0.2
      with:
        repository: googlefonts/roboto

    - name: Checkout Harfbuzz
      uses: actions/checkout@v3.0.2
      with:
        repository: behdad/harfbuzz
        path: harfbuzz

    - name: Prerequisites
      run: |
        sudo apt-get install eog ccache python2
        python2 -m pip install numpy
        python2 -m pip install booleanOperations compreffor cu2qu Cython git+https://github.com/typesupply/feaTools.git fonttools freetype-py git+https://github.com/googlei18n/nototools pyclipper git+https://github.com/robofab-developers/robofab.git scipy git+https://github.com/googlei18n/ufo2ft.git ufoLib
        sudo apt-get install eog ccache

    - name: Setup ccache
      run: |
        echo 'export CCACHE_EXEC=/usr/bin/ccache' | tee -a ~/.bashrc
        echo 'export USE_CCACHE=1' | tee -a ~/.bashrc
        source ~/.bashrc

    - name: Ccache caching
      uses: actions/cache@v3.0.2
      with:
        path: ~/.ccache
        key: ccache-font-${{ github.sha }}
        restore-keys: |
          ccache-font

    - name: Build Harfbuzz
      working-directory: harfbuzz
      run: |
        ./configure
        make
        sudo make install

    - name: Build Roboto
      run: make v2

    - name: Upload signed APKs
      uses: actions/upload-artifact@main
      with:
        name: out
        path: |
          out/
