name: Test

on:
  workflow_dispatch:
    inputs:
      build:
        required: true
      lang:
        required: true
        default: de-de
      edition:
        required: true
        default: PROFESSIONAL

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@main

      - name: Install dependencies
        run: |
          sudo apt-get install aria2 cabextract wimtools chntpw genisoimage
          wget https://raw.githubusercontent.com/uup-dump/converter/master/convert.sh

      - uses: actions/checkout@main
        with:
          repository: google/brotli
          path: brotli

      - name: Compile dependencies
        working-directory: brotli/
        run: |
          mkdir out && cd out
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./installed ..
          cmake --build . --config Release --target install

      - name: Retrieve aria2 script
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -o"aria2_script.txt" --allow-overwrite=true --auto-file-renaming=false "https://uupdump.net/get.php?id=${{ github.event.inputs.build }}&pack=${{ github.event.inputs.lang }}&edition=${{ github.event.inputs.edition }}&aria2=2"

      - name: Download files
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -x16 -s16 -j5 -c -R -d"." -i"aria2_script.txt"

      - name: Convert
        run: |
          chmod +x ./convert.sh
          ./convert.sh wim "." 0

      - name: Get file name
        id: iso
        run: |
          echo "::set-output name=name::$(find * -name *.ISO -type f)"

      - name: Split files
        run: |
          split --bytes=2147483647 --numeric-suffixes $(find * -name *.ISO -type f) $(find * -name *.ISO -type f)

      - name: Create release
        id: create-release
        uses: actions/create-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.iso.outputs.name }}
          release_name: ${{ steps.iso.outputs.name }}
          draft: true

      - name: Upload ISO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ -f ${{ steps.iso.outputs.name }}00 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}00
          fi
          if [ -f ${{ steps.iso.outputs.name }}01 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}01
          fi
          if [ -f ${{ steps.iso.outputs.name }}02 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}02
          fi
          if [ -f ${{ steps.iso.outputs.name }}03 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}03
          fi

      - name: Brotli compression
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          brotli -w 0 -Z ${{ steps.iso.outputs.name }} -o ${{ steps.iso.outputs.name }}.brotli
          split --bytes=2147483647 --numeric-suffixes $(find * -name *.brotli -type f) $(find * -name *.brotli -type f)
          if [ -f ${{ steps.iso.outputs.name }}.brotli00 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}.brotli00
          fi
          if [ -f ${{ steps.iso.outputs.name }}.brotli01 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}.brotli01
          fi
          if [ -f ${{ steps.iso.outputs.name }}.brotli02 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}.brotli02
          fi
          if [ -f ${{ steps.iso.outputs.name }}.brotli03 ]; 
          then
          gh release upload --clobber ${{ steps.iso.outputs.name }} ${{ steps.iso.outputs.name }}.brotli03
          fi
