name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    env:
      MOZBUILD_STATE_PATH: D:\a\test\test\.mozbuild
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y


    - name: Bootstrap a copy of the Firefox source code
      run: |
        Invoke-WebRequest -Uri https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -OutFile bootstrap.py
        python3 bootstrap.py --no-interactive .

    - run: |
        rm mozconfig
        echo "ac_add_options --disable-tests" >> mozconfig
        echo "mk_add_options MOZ_PARALLEL_BUILD=4" >> mozconfig
        echo "ac_add_options --with-ccache=sccache" >> mozconfig
        echo "ac_add_options --enable-release" >> mozconfig
        echo "mk_add_options MOZ_CO_LOCALES=DE" >> mozconfig
        echo "ac_add_options --enable-ui-locale=DE" >> mozconfig
      shell: bash
      working-directory: mozilla-unified

    - continue-on-error: true
      working-directory: mozilla-unified
      run: ./mach.ps1 help

    - continue-on-error: true
      working-directory: mozilla-unified
      run: ./mach.ps1 help build

    - continue-on-error: true
      working-directory: mozilla-unified
      run: ./mach.ps1 help run

    - continue-on-error: true
      working-directory: mozilla-unified
      run: ./mach.ps1 help configure

    - working-directory: mozilla-unified
      run: ./mach.ps1 build --priority high --no-interactive

    - working-directory: mozilla-unified
      if: failure()
      run: ./mach.ps1 build

    - working-directory: mozilla-unified
      run: ./mach.ps1 run --no-interactive

    - working-directory: mozilla-unified
      if: failure()
      run: ./mach.ps1 run

    - run: cat mozilla-unified/mozconfig
      shell: bash
      if: always()

    - run: ls -R .
      shell: bash
      if: always()

    - name: Upload a Build Artifact
      if: always()
      uses: actions/upload-artifact@v3.0.0
      with:
        path: mozilla-unified/obj-x86_64-pc-mingw32\dist\bin\firefox
