name: testo

on:
  push:
    paths: .github/workflows/testo.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Cache
      id: cache-source
      uses: actions/cache@main
      with:
        path: mozilla-source/mozilla-unified
        key: mozilla-unified-${{ GITHUB.SHA }}
        restore-keys: mozilla-unified

    - name: Update cached source code
      if: steps.cache-source.outputs.cache-hit == 'true'
      run: hg pull

    - name: Bootstrap a copy of the Firefox source code
      continue-on-error: true
      if: steps.cache-source.outputs.cache-hit != 'true'
      run: |
        mkdir mozilla-source
        cd mozilla-source
        wget https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: bootstrap
      working-directory: mozilla-source/mozilla-unified/
      run: ./mach --no-interactive bootstrap
