name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: build-windows
    runs-on: windows-latest

    steps:
          
    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@master
      with:
        vs-prerelease: true
        msbuild-architecture: x64, x86

    - name: Install Mozilla Build
      run: |
        Invoke-WebRequest -Uri https://ftp.mozilla.org/pub/mozilla/libraries/win32/MozillaBuildSetup-Latest.exe -OutFile MozillaBuildSetup-Latest.exe 
        Start-Process "MozillaBuildSetup-Latest.exe"


    - name: Bootstrap a copy of the Firefox source code
      run: |
        mkdir mozilla-source
        cd mozilla-source
        Invoke-WebRequest -Uri https://gist.github.com/theoware/6f04cad87db9b268a7cccf52889a807b/raw/d0e6f1a0dfeb1e1d00bfda417019da898c3df6c7/bootstrap.py -OutFile bootstrap.py
        python3 bootstrap.py
      
    - name: Build
      working-directory: mozilla-source/mozilla-unified
      run: |
        ./mach build
