name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    env:
      MOZBUILD_STATE_PATH: C:\Users\runneradmin/.mozbuild
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y

    - name: Checkout
      uses: actions/checkout@v3.0.0
      with:
        repository: theoware/Firefox

    - name: Run mach build
      run: ./mach build --disable-bootstrap

    - name: Run mach run
      run: ./mach run --disable-bootstrap

    - run: gci * -Recurse
      if: always()
