name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: build-windows
    runs-on: windows-latest

    steps:
          
    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@master
      with:
        vs-prerelease: true
        msbuild-architecture: x64, x86

    - name: Install gn
      run: |
        Invoke-WebRequest -Uri https://chrome-infra-packages.appspot.com/dl/gn/gn/windows-amd64/+/latest -OutFile gn.zip
        Expand-Archive -LiteralPath gn.zip -DestinationPath gn/
        cd gn/
        $env:Path += "$(PWD)"

    - name: Install Windows Dev kit
      run: choco install windows-sdk-10-version-1903-all -y --pre

    - name: Install Cygwin
      run: choco install cygwin -y --pre

    - name: Install GnuWin32 CoreUtils
      run: choco install gnuwin32-coreutils.install -y --pre

    - name: Install Mozilla Build
      run: choco install mozillabuild -y --pre

    - name: Cache
      id: cache-source
      uses: actions/cache@main
      with:
        path: mozilla-source/
        key: mozilla-unified-${{ GITHUB.SHA }}
        restore-keys: mozilla-unified-

    - name: Update cached source code
      if: steps.cache-source.outputs.cache-hit == 'true'
      run: hg pull

    - name: Bootstrap a copy of the Firefox source code
      continue-on-error: true
      if: steps.cache-source.outputs.cache-hit != 'true'
      run: |
        mkdir mozilla-source
        cd mozilla-source
        Invoke-WebRequest -Uri https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -OutFile bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: Build
      continue-on-error: true
      working-directory: mozilla-source/mozilla-unified
      run: |
        ./mach.ps1 --no-interactive build
        ./mach.ps1 --no-interactive package

    - run: Get-ChildItem . -Recurse

  cache:
    name: Cache
    runs-on: ubuntu-latest

    steps:

    - name: Cache
      id: cache-source
      uses: actions/cache@main
      with:
        path: mozilla-source/mozilla-unified
        key: mozilla-unified-${{ GITHUB.SHA }}
        restore-keys: mozilla-unified

    - name: Update cached source code
      if: steps.cache-source.outputs.cache-hit == 'true'
      run: hg pull

    - name: Bootstrap a copy of the Firefox source code
      continue-on-error: true
      if: steps.cache-source.outputs.cache-hit != 'true'
      run: |
        mkdir mozilla-source
        cd mozilla-source
        wget https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: bootstrap
      working-directory: mozilla-source/mozilla-unified/
      run: ./mach --no-interactive bootstrap
