name: Test

on:
  workflow_dispatch:
    inputs:
      build:
      lang:
      edition:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@main
        with:
          repository: Philogag/UUPdump-TravisCI

      - name: Install dependencies
        run: |
          sudo apt-get install aria2 cabextract wimtools chntpw genisoimage
          chmod +x uup_download_linux.sh

      - name: Run
        env:
          BUILD: ${{ GITHUB.INPUTS.BUILD }}
          LANG: ${{ GITHUB.INPUTS.LANG }}
          EDITION: ${{ GITHUB.INPUTS.EDITION }}
        run: |
          bash ./uup_download_linux.sh

      - name: Debug
        run: |
          ls -R .

      - name: Release & Assets
        uses: Hs1r1us/Release-AIO@v1.0
        with:
          tag_name: 
            ${{ GITHUB.INPUTS.BUILD }}
          asset_files: "*.iso"
          draft: true
