name: testo

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main
    - uses: actions/checkout@main
      with:
        path: clang-llvm
    - uses: actions/checkout@main
      with:
        path: anykernel

    - name: Run a script
      run: |
        ls -R
