name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: |
          sudo apt-get install curl python3 python3-dev python3-pip
          python3 -m pip install --user mercurial
          hg version

      - name: Bootstrap a copy of the Firefox source code
        run: |
          curl https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -O
          python3 bootstrap.py --vcs=git .
          rm bootstrap.py

      - name: Build
        run: |
          ./mach build
          ./mach run

      - run: ls -R .
