name: Test

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main
      with:
        repository: DhineshCool/cybertron

    - name: Run a script
      run: |
        wget https://github.com/theoware/test/raw/main/testscript.sh
        bash testscript.sh 
