name: Test

on:
  workflow_dispatch:
    inputs:
      build:
        required: true
      lang:
        required: true
      edition:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@main
        with:
          repository: uup-dump/converter

      - name: Install dependencies
        run: |
          sudo apt-get install aria2 cabextract wimtools chntpw genisoimage

      - name: Retrieve aria2 script
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -o"aria2_script.txt" --allow-overwrite=true --auto-file-renaming=false "https://uupdump.net/get.php?id=${{ github.event.inputs.build }}&pack=${{ github.event.inputs.lang }}&edition=${{ github.event.inputs.edition }}&aria2=2"

      - name: Download files
        run: |
          aria2c --no-conf --log-level=info --log="aria2_download.log" -x16 -s16 -j5 -c -R -d"." -i"aria2_script.txt"

      - name: Convert
        run: |
          chmod +x ./convert.sh
          ./convert.sh wim "." 0

      - name: Get file name
        id: iso
        run: |
          echo "::set-output name=name::$(find . -name *.iso -type f)"

      - name: Release & Assets
        uses: Hs1r1us/Release-AIO@v1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: 
            ${{ steps.iso.outputs.name }}
          asset_files: ${{ steps.iso.outputs.name }}
          draft: true
