name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Install dependencies
      run: |
        echo "${{ secrets.SOURCES }}" | sudo base64 -d > /etc/apt/sources.list
        sudo dpkg --add-architecture i386
        sudo apt-get update
        wget -nc https://dl.winehq.org/wine-builds/winehq.key
        sudo apt-key add winehq.key
        sudo add-apt-repository 'deb https://dl.winehq.org/wine-builds/ubuntu/ focal main' 
        sudo apt-get update
        sudo apt install --install-recommends winehq-stable
        sudo apt install -y --install-recommends winetricks mercurial mingw-w64 git-core wget quilt
        sudo apt-get build-dep firefox

    - name: Download source code
      run: |
        mkdir mozilla-unified/
        wget https://archive.mozilla.org/pub/firefox/releases/97.0/source/firefox-97.0.source.tar.xz
        tar -Jxf firefox-97.0.source.tar.xz -C mozilla-unified/

    - name: Add .mozconfig options
      run: |
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "ac_add_options --enable-official-branding" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-debug-symbols" >> mozilla-unified/.mozconfig
        echo "ac_add_options --disable-crashreporter" >> mozilla-unified/.mozconfig
        echo "ac_add_options --target=x86_64-pc-mingw32" >> mozilla-unified/.mozconfig
        echo "unset MOZ_TELEMETRY_REPORTING" >> mozilla-unified/.mozconfig

    - name: Install Microsoft Visual C++
      run: winetricks vcrun2015

    - name: Create VFat file system
      run: |
        sudo dd if=/dev/zero of=vfat.img bs=500M count=1000
        sudo mkfs -t vfat vfat.img
        sudo mkdir /mnt/vfat/
        sudo mount -t auto -o loop vfat.img /mnt/vfat/
        df -hT

    - name: Mount the Windows SDK iso
      run: |
        mkdir windowssdk
        wget https://software-download.microsoft.com/download/sg/22000.194.210911-1543.co_release_svc_prod1_WindowsSDK.iso -O sdk.iso
        sudo mount sdk.iso windowssdk

    - name: Compile
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: |
        ./mach configure
        ./mach build
        ./mach package

    - name: Debug
      if: always()
      env:
        WINDOWSSDKDIR: ${{ GITHUB.WORKSPACE }}/windowssdk
      run: ls -R .
