name: testo

on:
  push:
    paths: .github/workflows/testo.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

      - name: Checkout patches
        uses: actions/checkout@v3.0.0
        with:
          repository: desktop-app/patches
          ref: 47d447b531
          path: patches
          clean: false
          submodules: recursive
