name: testo

on:
  push:
    paths: .github/workflows/testo.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Download source code
      run: |
        mkdir mozilla-unified/
        wget https://archive.mozilla.org/pub/firefox/releases/97.0/source/firefox-97.0.source.tar.xz
        tar -Jxf firefox-97.0.source.tar.xz -C mozilla-unified/

    - run: du -sh mozilla-unified/

    - run: ls -A mozilla-unified/ | wc -l
