name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: windows-2022
    env:
      MOZBUILD_STATE_PATH: D:\a\test\test\.mozbuild
    steps:

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Install mozillabuild
      run: |
        choco install mozillabuild -y

    - name: Bootstrap a copy of the Firefox source code
      run: |
        Invoke-WebRequest -Uri https://hg.mozilla.org/mozilla-central/raw-file/default/python/mozboot/bin/bootstrap.py -OutFile bootstrap.py
        python3 bootstrap.py --no-interactive

    - name: Run mach
      working-directory: mozilla-unified
      continue-on-error: true
      run: ./mach.ps1

    - name: Run mach build
      working-directory: mozilla-unified
      run: ./mach.ps1 build

    - name: Run mach run
      working-directory: mozilla-unified
      run: ./mach.ps1 run

    - run: gci * -Recurse
      if: always()
