name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3.0.2
      with:
        repository: aerotoad/Thud

    - name: Prerequisites
      run: npm install -g @ionic/cli

    - name: Build project and sync with capacitor platforms
      run: ionic cap sync

    - name: Build
      run: npm run build

    - run: ls -R .
      if: always()
