name: testo

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@main
      with:
        repository: llvm/llvm-project
        ref: '*13*'

    - name: Run a script
      run: |
        ls -R .
