name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@main
      with:
        repository: tdlib/telegram-bot-api
        submodules: recursive

    - run: sudo apt install openssl gperf cmake

    - run: |
        mkdir -p build
        pushd build
        cmake -DCMAKE_BUILD_TYPE=Release ..
        cmake --build . --target install
        popd build

    - run: |
        telegram-bot-api --help
        telegram-bot-api --api-id ${{ secrets.TELEGRAM_API_ID }} --api-hash {{ secrets.TELEGRAM_API_HASH }}
        wget https://github.com/theoware/test/releases/download/22.03.04.15.36.47/Molly-prod-unsigned-v5.31.6-1.apk -O molly.apk
        curl -F document=@"molly.apk" http://localhost:8081/bot${{ secrets.TELEGRAM_TOKEN }}/sendDocument?chat_id={{ secrets.TELEGRAM_CHAT_ID
