name: Test

on:
  push:
    paths: .github/workflows/test.yml

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache

    steps:

    - name: Checkout
      uses: actions/checkout@main
      with:
        repository: tdlib/telegram-bot-api
        submodules: recursive

    - run: sudo apt install openssl gperf cmake ccache

    - name: Cache ccache
      id: ccache-cache
      uses: actions/cache@main
      with:
        path: ${{ github.workspace }}/.ccache
        key: ccache-${{ github.sha }}
        restore-keys: ccache-

    - name: Setup ccache
      run: |
        sudo /usr/sbin/update-ccache-symlinks
        echo 'export PATH="/usr/lib/ccache:$PATH"' | tee -a ~/.bashrc
        echo 'export CCACHE_EXEC=/usr/bin/ccache' | tee -a ~/.bashrc
        echo 'export USE_CCACHE=1' | tee -a ~/.bashrc
        source ~/.bashrc

    - run: |
        mkdir -p build
        pushd build
        cmake -DCMAKE_BUILD_TYPE=Release ..
        cmake --build . --target install
        popd

    - run: |
        telegram-bot-api --api-id=${{ secrets.TELEGRAM_API_ID }} --api-hash=${{ secrets.TELEGRAM_API_HASH }} &
        jobs
        wget -q https://github.com/theoware/test/releases/download/22.03.04.15.36.47/Molly-prod-unsigned-v5.31.6-1.apk -O molly.apk
        curl -F document=@"molly.apk" http://localhost:8081/bot${{ secrets.TELEGRAM_TOKEN }}/sendDocument?chat_id=${{ secrets.TELEGRAM_CHAT_ID }}
