name: testo

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

      - name: Run a script
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y --no-install-recommends bc bison ca-certificates clang cmake curl file flex gcc g++ git libelf-dev libssl-dev lld jq make ninja-build patchelf python3 texinfo xz-utils zlib1g-dev

      - name: Checkout ref
        run: git --version
