name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:

      - name: Add incremential option
        id: incre
        run: echo ::set-output name=name::$(echo '-i')

      - name: Test
        run: echo "${{ steps.incre.outputs.name }}"
