name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y --no-install-recommends cmake curl make python3

      - name: Download source code
        run: |
          mkdir ~/bin/
          export REPO=$(mktemp /tmp/repo.XXXXXXXXX)
          curl -o ${REPO} https://storage.googleapis.com/git-repo-downloads/repo
          gpg --recv-key 8BB9AD793E8E6153AF0F9A4416530D5E920F5C65
          curl -s https://storage.googleapis.com/git-repo-downloads/repo.asc | gpg --verify - ${REPO} && install -m 755 ${REPO} ~/bin/repo
          repo init -u https://android.googlesource.com/platform/manifest -b llvm-toolchain
          repo sync -c

      - name: Build clang
        run: |
          python toolchain/llvm_android/build.py

      - name: Debug
        run: |
          ls -R .
