name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y --no-install-recommends bc bison ca-certificates clang cmake curl file flex gcc g++ git libelf-dev libssl-dev lld jq make ninja-build patchelf python3 repo texinfo xz-utils zlib1g-dev

      - name: Download source code
        run: |
          repo init -u https://android.googlesource.com/platform/manifest -b llvm-toolchain
          repo sync -c

      - name: Build clang
        run: |
          python toolchain/llvm_android/build.py

      - name: Set executable rpaths so setting LD_LIBRARY_PATH isn't necessary
        run: |
          ls -R .
