name: Test

on:
  push:
    paths:
      .github/workflows/test.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install repo
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y --no-install-recommends cmake curl make python3 repo

      - name: Download source code
        run: |
          repo init -u https://android.googlesource.com/platform/manifest -b llvm-toolchain
          repo sync -c

      - name: Build clang
        run: |
          python toolchain/llvm_android/build.py

      - name: Debug
          ls -R .
